body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    background-color: #ebebeb;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.pres {
    display: grid;
    grid-column-start: 2;
    background-color: white;
    margin: 15px;
    box-shadow: 0px 5px 5px 1px #dbdbdb;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: #dd5555;
    font-weight: 900;
    text-align: center;

}

h2 {
    color: #7d7d7d;
    font-weight: 600;
    text-align: center;
}

h3 {
    text-align: center;
}

/* His favorites movies */
.favorite {
    text-align: center;
    grid-template-rows: 1 / span 2;
}


.bio {
    color: #7d7d7d;
    text-align: left;
}

.tim {
    border-radius: 50%;
    border: solid 5px #cccccc;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-left: 40%;
    margin-top: 20px;
}

.reseaux {
    display: flex;
    grid-column-start: 2;
    background-color: white;
    margin: 15px;
    box-shadow: 0px 5px 5px 1px #dbdbdb;
    text-align: center;
    list-style-type: none;
    border-radius: 5px;
    justify-content: space-evenly;
    padding: 60px 60px 60px 60px;

}

.movies {
    display: grid;
    grid-column-start: 2;
    background-color: white;
    margin: 15px;
    box-shadow: 0px 5px 5px 1px #dbdbdb;
    color: #7f7e86;
}

.odyssey {
    grid-column-start: 2;
}

.hulot {
    grid-column-start: 2;
}

.alien {
    grid-column-start: 2;
}

.surligne {
    background-color: #d4d4d4;
}

.button {
    display: block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    background-color: #dd5555;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
    margin-left: 35%;
    border-radius: 5px;
    margin-top: 15px;

}

.button:hover {
    background-color: orange;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.links {
    color: #cccccc;
    text-decoration: none;
}

/* les 3 icônes des réseaux sociaux */

.fa-facebook-f {
    color: #cccccc;
    font-size: 25px;
}

.fa-linkedin-in {
    color: #cccccc;
    font-size: 25px;
}

.fa-twitter {
    color: #cccccc;
    font-size: 25px;
}

/* concernant les 3 affiches de films et leur texte */

.flex {
    display: flex;
    align-items: center;
}

.img {
    transform: scale(0.5);
}

.p {
    font-size: 50px;
    font-weight: 600;
}